CREATE DATABASE sales_transaction;
USE sales_transaction;
CREATE TABLE sale_transaction (
txn_id INT,
customer_id VARCHAR(50),
customer_name VARCHAR(100),
product_id VARCHAR(50),
quantity VARCHAR(50) NULL,
txn_amount VARCHAR(100) NULL,
txn_date DATE NULL,
city VARCHAR(50)
);

INSERT INTO sale_transaction

VALUE(201,'C101','Rahul Metha','P11',2,4000,'2025-12-01','Mumbai'),
(202,'C102','Anjali Rao','P12',1,1500,'2025-12-01','Bengaluru'),
(203,'C101','Rahul Mehta','P11',2,4000,'2025-12-01','Mumbai'),
(204,'C103','Suresh Iyer','P13',3,6000,'2025-12-02','Chennai'),
(205,'C104','Neha Singh','P14',NULL,2500,'2025-12-02','Delhi'),
(206,'C105','N\A','P15',1,NULL,'2025-12-03','Pune'),
(207,'C106','Amit Verma','P16',1,1800,NULl,'Pune'),
(208,'C101','Rahul Mehta','P11',2,4000,'2025-12-01','Mumbai');

SELECT * FROM sale_transaction;

## Q7. Write an SQL query on (Sales_Transactions) to list all duplicate keys and their counts using the business key (Customer_ID + Product_ID + Txn_Date + Txn_Amount )

SELECT

 - Customer_ID,
  -  Product_ID,
   - Txn_Date,
   - Txn_Amount,
   - COUNT(*) AS duplicate_count

FROM Sale_Transaction
GROUP BY
   - Customer_ID,
   - Product_ID,
    -Txn_Date,
    -Txn_Amount

HAVING COUNT(*)
SELECT

CREATE TABLE customers_master (

customerid VARCHAR(50),

customername CHAR(100),

city CHAR(100)
);


- INSERT INTO customers_master
- VALUE('C101','Rahul Metha','Mumbai'),

('C102','Anjali Rao','Bengaluru'),

('C103','Suresh Iyer','Chennai'),

('C104','Neha Singh','Delhi');


## Q8.Identify Sales_Transactions.Customer_ID values that violate referential integrity when joined with Customers_Master and write a query to detect such violations.

- SELECT DISTINCT s.Customer_ID

FROM Sale_Transaction s

LEFT JOIN Customers_Master c

ON s.Customer_ID = c.CustomerID

WHERE c.CustomerID IS NULL;